.section-title {
  text-align: center;
}

.intro-icon {
    width: 300px;
    height: auto;
}

.intro-subheading {
    font-weight: 350;
    font-size: 2rem;
}

.intro-heading {
    font-weight: 600;
    font-size: 3rem;
    color: rgb(0,100,0);
}

.intro-text {
    font-weight:300;
    font-size: 1.3rem;
    margin-left: 30px;
}
.temp{
    color: #1C2331
}
.weather{
    color: #868B94;
    font-size:20px
}
.weather-input{
    border: none;
    text-align:center
}