.search {
    margin: 1rem;
    padding: 3rem;
}

.search-heading {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 3rem;
}

.search-job-location {
    display: flex;
    justify-content: center;
    /*width: auto;*/
    max-width: 584px;
    width: 584px;
    margin: 0 auto;
}
.search-bar {
    margin-bottom: 8px;
    background-color: white;
}
.search-bar input,
.search-bar button {
    border: none;
    word-wrap: break-word;
}
.search-bar button:hover {
    background-color: transparent!important;
    color: inherit;
}
.search-bar input:focus {
    outline: none;
}
.search-bar input[type="text"] {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}
.search-bar {
    display: flex;
    border: 1px solid rgba(223,225,229,0);
    padding: 0.5rem 0.3rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);

}

.search-button {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: auto;
}

.background-image {
  background: 50% 50% / cover;
  background-image: url(../../assets/backgroundhome.jpg);
  background-repeat: no-repeat;
}