.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
    padding: 0.5rem var(--container-px);
    margin-bottom: var(--header-mb);
    font-weight: 500;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus {
    font-weight: 700;
    font-size: 1.75rem;
    color: rgb(0,100,0);
}
.navbar .navbar-brand span {
    color: #4298e7;
}
.navbar-light .navbar-brand:hover{
    color: var(--color-font-dark); /* do not change color */
    transform: scale(1.05);
    transition: 0.1s ease;
}

.navbar .search-bar {
    padding: 0.4rem 0.7rem;
    width: auto;
    margin: auto;
}
.navbar .search-bar input[type="text"] {
    font-size: 14px;
    width: auto;
}

.navbar-menu{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;
}
.navbar-menu .navbar-nav{
    align-items: flex-end;
    margin-left: auto;
    flex-direction: row;
    display: flex;
    list-style: none;
}

.title-color {
    color: rgb(0,100,0);
}